# Retail Analytics Project

**Online Reatil Dataset-1**

Group Members
* A012 - Ashish Shetty 
* A019 - Damini Anand
* A035 - Naman Jhawar
* A043 - Prakshaal Jain
* A045 - Prem Gadiya
* A066 - Sridharshini K B

In [21]:
#Installation of pyspark

!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [22]:
#Reading the dataset from a local runtime and creating a spark session

from pyspark.sql.session import SparkSession
session=SparkSession.builder.appName("sql2").master("local").getOrCreate()
data=session.read.csv("OnlineRetail_Cleaned.csv",header=True, inferSchema=True)

In [23]:
#  To know the number of rows and columns in the data

print(data.count(),len(data.columns))

527891 12

In [24]:
print(data.show(5))

+---------+---------+--------------------+--------+-------------------+----+----------+-------------------+---------+----------+--------------+-----------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|Year|      Date|               Time|UnitPrice|CustomerID|       Country|IsCancelled|
+---------+---------+--------------------+--------+-------------------+----+----------+-------------------+---------+----------+--------------+-----------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|2010|01-12-2010|2022-11-07 08:26:00|     2.55|     17850|United Kingdom|          0|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|2010|01-12-2010|2022-11-07 08:26:00|     3.39|     17850|United Kingdom|          0|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|2010|01-12-2010|2022-11-07 08:26:00|     2.75|     17850|United Kingdom|          0|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|2010|01-12-2010|2022-11-07 08:26:00|     3.39|     17850|United Kingdom|          0|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|2010|01-12-2010|2022-11-07 08:26:00|     3.39|     17850|United Kingdom|          0|
+---------+---------+--------------------+--------+-------------------+----+----------+-------------------+---------+----------+--------------+-----------+
only showing top 5 rows

None

In [25]:
# To get the data with respect to column headings

data.columns

['InvoiceNo',
 'StockCode',
 'Description',
 'Quantity',
 'InvoiceDate',
 'Year',
 'Date',
 'Time',
 'UnitPrice',
 'CustomerID',
 'Country',
 'IsCancelled']

In [26]:
# To know the schema of the variables in the dataset

data.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- IsCancelled: integer (nullable = true)

**DATA ENGINEERING**

In [27]:
#We found that age is structures as a string so using col we cast it to integer

from pyspark.sql.functions import col
#data=data.withColumn('InvoiceDate',col('InvoiceDate').cast('String'))

#To know the data types after casting
data.dtypes

[('InvoiceNo', 'string'),
 ('StockCode', 'string'),
 ('Description', 'string'),
 ('Quantity', 'int'),
 ('InvoiceDate', 'timestamp'),
 ('Year', 'int'),
 ('Date', 'string'),
 ('Time', 'timestamp'),
 ('UnitPrice', 'double'),
 ('CustomerID', 'int'),
 ('Country', 'string'),
 ('IsCancelled', 'int')]

In [28]:
# Dropping InvoiceData column
data=data.drop('InvoiceDate')

In [29]:
print(data.show())

+---------+---------+--------------------+--------+----+----------+-------------------+---------+----------+--------------+-----------+
|InvoiceNo|StockCode|         Description|Quantity|Year|      Date|               Time|UnitPrice|CustomerID|       Country|IsCancelled|
+---------+---------+--------------------+--------+----+----------+-------------------+---------+----------+--------------+-----------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010|01-12-2010|2022-11-07 08:26:00|     2.55|     17850|United Kingdom|          0|
|   536365|    71053| WHITE METAL LANTERN|       6|2010|01-12-2010|2022-11-07 08:26:00|     3.39|     17850|United Kingdom|          0|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010|01-12-2010|2022-11-07 08:26:00|     2.75|     17850|United Kingdom|          0|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010|01-12-2010|2022-11-07 08:26:00|     3.39|     17850|United Kingdom|          0|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010|01-12-2010|2022-11-07 08:26:00|     3.39|     17850|United Kingdom|          0|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010|01-12-2010|2022-11-07 08:26:00|     7.65|     17850|United Kingdom|          0|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010|01-12-2010|2022-11-07 08:26:00|     4.25|     17850|United Kingdom|          0|
|   536366|    22633|HAND WARMER UNION...|       6|2010|01-12-2010|2022-11-07 08:28:00|     1.85|     17850|United Kingdom|          0|
|   536366|    22632|HAND WARMER RED P...|       6|2010|01-12-2010|2022-11-07 08:28:00|     1.85|     17850|United Kingdom|          0|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010|01-12-2010|2022-11-07 08:34:00|     1.69|     13047|United Kingdom|          0|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010|01-12-2010|2022-11-07 08:34:00|      2.1|     13047|United Kingdom|          0|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010|01-12-2010|2022-11-07 08:34:00|      2.1|     13047|United Kingdom|          0|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010|01-12-2010|2022-11-07 08:34:00|     3.75|     13047|United Kingdom|          0|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010|01-12-2010|2022-11-07 08:34:00|     1.65|     13047|United Kingdom|          0|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010|01-12-2010|2022-11-07 08:34:00|     4.25|     13047|United Kingdom|          0|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010|01-12-2010|2022-11-07 08:34:00|     4.95|     13047|United Kingdom|          0|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010|01-12-2010|2022-11-07 08:34:00|     9.95|     13047|United Kingdom|          0|
|   536367|    21754|HOME BUILDING BLO...|       3|2010|01-12-2010|2022-11-07 08:34:00|     5.95|     13047|United Kingdom|          0|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010|01-12-2010|2022-11-07 08:34:00|     5.95|     13047|United Kingdom|          0|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010|01-12-2010|2022-11-07 08:34:00|     7.95|     13047|United Kingdom|          0|
+---------+---------+--------------------+--------+----+----------+-------------------+---------+----------+--------------+-----------+
only showing top 20 rows

None

In [30]:
print(data.describe('Quantity','UnitPrice').show())

+-------+------------------+-----------------+
|summary|          Quantity|        UnitPrice|
+-------+------------------+-----------------+
|  count|            527891|           527891|
|   mean| 9.691603001377178|4.646768336639712|
| stddev|154.19111119779552|97.94411231274547|
|    min|            -74215|        -11062.06|
|    max|             74215|          38970.0|
+-------+------------------+-----------------+

None

In [31]:
# The revenue/cancellation cost earned per traansaction by the online store (Unit price X Qty)

data=data.withColumn("InvoiceAmt", data['UnitPrice']*data['Quantity'])
print(len(data.columns))
print(data.show(2))

12
+---------+---------+--------------------+--------+----+----------+-------------------+---------+----------+--------------+-----------+------------------+
|InvoiceNo|StockCode|         Description|Quantity|Year|      Date|               Time|UnitPrice|CustomerID|       Country|IsCancelled|        InvoiceAmt|
+---------+---------+--------------------+--------+----+----------+-------------------+---------+----------+--------------+-----------+------------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010|01-12-2010|2022-11-07 08:26:00|     2.55|     17850|United Kingdom|          0|15.299999999999999|
|   536365|    71053| WHITE METAL LANTERN|       6|2010|01-12-2010|2022-11-07 08:26:00|     3.39|     17850|United Kingdom|          0|             20.34|
+---------+---------+--------------------+--------+----+----------+-------------------+---------+----------+--------------+-----------+------------------+
only showing top 2 rows

None

In [32]:
# Drop InvoiceDate Column
data=data.drop('InvoiceDate')
print(data.show(2))

+---------+---------+--------------------+--------+----+----------+-------------------+---------+----------+--------------+-----------+------------------+
|InvoiceNo|StockCode|         Description|Quantity|Year|      Date|               Time|UnitPrice|CustomerID|       Country|IsCancelled|        InvoiceAmt|
+---------+---------+--------------------+--------+----+----------+-------------------+---------+----------+--------------+-----------+------------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010|01-12-2010|2022-11-07 08:26:00|     2.55|     17850|United Kingdom|          0|15.299999999999999|
|   536365|    71053| WHITE METAL LANTERN|       6|2010|01-12-2010|2022-11-07 08:26:00|     3.39|     17850|United Kingdom|          0|             20.34|
+---------+---------+--------------------+--------+----+----------+-------------------+---------+----------+--------------+-----------+------------------+
only showing top 2 rows

None

## **ANALYSIS**

In [33]:
from pyspark.sql.functions import udf
from pyspark.sql.types import *

In [34]:
#data.coalesce(1).write.format('csv').option('header','true').save("data.csv")

In [35]:
# SQL
data.createOrReplaceTempView("tb")

### Year-wise Analysis

**1.Maximum cancellations with respect to quantity of goods is the year 2011 when compared to 2010**

In [36]:
print((session.sql("Select  Sum(Quantity) TotalQuantity, Year from tb where IsCancelled==1 group by Year").show()))

+-------------+----+
|TotalQuantity|Year|
+-------------+----+
|       -16010|2010|
|      -177876|2011|
+-------------+----+

None

**2. The top 5 customers (CustomerID) who have cancelled their orders**

- It is observed that most of the products cancelled are stationary items
- The retailer can idntify the reason for these products being cancelled

In [37]:
print((session.sql("Select  distinct CustomerID, Sum(Quantity) TotalQuantity, Description from tb where IsCancelled==1 and Year=2011 group by CustomerID, Description order by TotalQuantity Asc").show(5)))

+----------+-------------+--------------------+
|CustomerID|TotalQuantity|         Description|
+----------+-------------+--------------------+
|     12346|       -74215|MEDIUM CERAMIC TO...|
|     15749|        -3114|FAIRY CAKE FLANNE...|
|     15749|        -2000|GIN + TONIC DIET ...|
|     15749|        -1930|WHITE HANGING HEA...|
|     16938|        -1515|   HERB MARKER BASIL|
+----------+-------------+--------------------+
only showing top 5 rows

None

### Country-Wise Analysis

**1. Cancellations greater than 2000 in united Kingdom**

In [38]:
print((session.sql("Select distinct CustomerID, Description, sum(InvoiceAmt), Country from tb where Country=='United Kingdom' and InvoiceAmt<-2000 group by CustomerID, Country, Description").show()))

+----------+--------------------+-------------------+--------------+
|CustomerID|         Description|    sum(InvoiceAmt)|       Country|
+----------+--------------------+-------------------+--------------+
|     17448|              Manual|           -4287.63|United Kingdom|
|     16029|              Manual|            -6930.0|United Kingdom|
|     15749|WHITE HANGING HEA...|            -4921.5|United Kingdom|
|     12346|MEDIUM CERAMIC TO...|           -77183.6|United Kingdom|
|      null|          AMAZON FEE|-235060.83000000005|United Kingdom|
|      null|     Adjust bad debt|          -22124.12|United Kingdom|
|     15749|TEA TIME PARTY BU...|-3314.9999999999995|United Kingdom|
|     15098|              Manual|           -38970.0|United Kingdom|
|     17450|PANTRY CHOPPING B...|-3825.3599999999997|United Kingdom|
|     12931|IVORY DINER WALL ...|-2432.7000000000003|United Kingdom|
|     16029|             POSTAGE|           -8142.75|United Kingdom|
|     15749|  DOORMAT FAIRY CAKE|            -4522.5|United Kingdom|
|     15749|GIN + TONIC DIET ...|            -3700.0|United Kingdom|
|     18102|              Manual|            -3060.6|United Kingdom|
|     15749|FAIRY CAKE FLANNE...| -6539.400000000001|United Kingdom|
|     15502|              Manual|           -3155.95|United Kingdom|
+----------+--------------------+-------------------+--------------+

None

**2. Top 5 countries with maximum invoice amount inclusive of cancellations**

In [39]:
print((session.sql("Select distinct Country, round(sum(InvoiceAmt),2) InvoiceAmt from tb group by Country order by InvoiceAmt Desc").show(5)))

+--------------+----------+
|       Country|InvoiceAmt|
+--------------+----------+
|United Kingdom| 8052947.2|
|   Netherlands| 272933.52|
|          EIRE| 261909.24|
|       Germany| 216233.51|
|        France| 196498.11|
+--------------+----------+
only showing top 5 rows

None

**3. Top 5 countries with maximum quantities of goods purchased inclusive of cancellations**

In [40]:
print((session.sql("Select distinct Country, sum(Quantity) Quantity from tb group by Country order by Quantity Desc").show(5)))

+--------------+--------+
|       Country|Quantity|
+--------------+--------+
|United Kingdom| 4218780|
|   Netherlands|  192170|
|          EIRE|  141689|
|       Germany|  114440|
|        France|  110066|
+--------------+--------+
only showing top 5 rows

None

****4. Top 5 countries with maximum unit price of goods purchased inclusive of cancellations****

In [41]:
print((session.sql("Select distinct Country, round(avg(UnitPrice),2) UnitPrice from tb group by Country order by UnitPrice Desc").show(20)))

+------------------+---------+
|           Country|UnitPrice|
+------------------+---------+
|         Singapore|   109.65|
|         Hong Kong|    43.04|
|          Portugal|     8.66|
|            Cyprus|     6.35|
|            Norway|     6.25|
|            Canada|     6.03|
|              EIRE|     5.94|
|           Finland|     5.45|
|           Lebanon|     5.39|
|             Malta|     5.24|
|             Spain|     5.06|
|            France|     5.04|
|   Channel Islands|     4.94|
|            Greece|     4.89|
|             Italy|     4.83|
|European Community|     4.82|
|    United Kingdom|     4.57|
|           Bahrain|     4.56|
|            Brazil|     4.46|
|               RSA|     4.28|
+------------------+---------+
only showing top 20 rows

None


**France is one of the countries that has high unit price and orders (quantity)but still manages to be in the top 5 countries. Therefore, reducing its unit price slightly could lead to more orders and higher revenues**

**3. Average Unit price, Quantity and Invoice**

In [42]:
print((session.sql("Select distinct Country, round(Avg(UnitPrice),2) UnitPrice, round(avg(Quantity)) Quantity, round(Avg(InvoiceAmt),2) InvoiceAmt from tb group by Country order by InvoiceAmt Desc").show()))

+--------------------+---------+--------+----------+
|             Country|UnitPrice|Quantity|InvoiceAmt|
+--------------------+---------+--------+----------+
|         Netherlands|     2.75|    84.0|    119.45|
|           Australia|     3.22|    66.0|    108.91|
|               Japan|     2.28|    70.0|     98.72|
|              Sweden|     3.91|    77.0|     79.36|
|             Denmark|     3.26|    21.0|     48.25|
|           Lithuania|     2.84|    19.0|     47.46|
|           Singapore|   109.65|    23.0|     39.83|
|             Lebanon|     5.39|     9.0|     37.64|
|              Brazil|     4.46|    11.0|     35.74|
|           Hong Kong|    43.04|    17.0|     34.89|
|                EIRE|     5.94|    17.0|     32.29|
|              Greece|     4.89|    11.0|     32.26|
|             Finland|     5.45|    15.0|     32.12|
|              Norway|     6.25|    17.0|     31.89|
|             Bahrain|     4.56|    14.0|     28.86|
|         Switzerland|     3.41|    15.0|     28.27|
|United Arab Emirates|     3.38|    14.0|     27.97|
|              Israel|     3.65|    15.0|     26.88|
|     Channel Islands|     4.94|    13.0|     26.56|
|              Canada|     6.03|    18.0|     24.28|
+--------------------+---------+--------+----------+
only showing top 20 rows

None

**United Kingdom and Netherlands are the top two countires with respect to quantities sold and total invoice amount collected. United Kingdom whole sellers seem to perfrom better but on an average the Netherlands perfroms better. Though Netherlands has a comparetively lower unit price and quantity sold, it overal average invoivce amount is at the top.**

**Netherlands has fewer large orders whereas UK has multiple small orders. Multiple small orders could be a problem with respect to cost of transporation.**

**6. Top 10 customers with maximum quantities of goods purchased inclusive of cancellations**

In [43]:
print((session.sql("Select distinct CustomerID, sum(Quantity) Quantity, Country from tb group by CustomerID, Country order by Quantity Desc").show(10)))

+----------+--------+--------------+
|CustomerID|Quantity|       Country|
+----------+--------+--------------+
|      null|  260360|United Kingdom|
|     14646|  188761|   Netherlands|
|     12415|   77242|     Australia|
|     14911|   76349|          EIRE|
|     17450|   69009|United Kingdom|
|     17511|   63012|United Kingdom|
|     13694|   61899|United Kingdom|
|     18102|   61424|United Kingdom|
|     14298|   58021|United Kingdom|
|     14156|   56908|          EIRE|
+----------+--------+--------------+
only showing top 10 rows

None

**7. The top 10 customers have been identified above who make maximum orders in terms of quantity purchased**

In [44]:
print((session.sql("Select distinct CustomerID, round(sum(InvoiceAmt),2) InvoiceAmt, Country from tb group by CustomerID, Country order by InvoiceAmt Desc").show(10)))

+----------+----------+--------------+
|CustomerID|InvoiceAmt|       Country|
+----------+----------+--------------+
|      null|1371401.51|United Kingdom|
|     14646|  267761.0|   Netherlands|
|     18102| 244952.95|United Kingdom|
|     17450| 187322.17|United Kingdom|
|     14911| 131374.59|          EIRE|
|     12415| 123725.45|     Australia|
|     14156| 113214.59|          EIRE|
|     17511|  88125.38|United Kingdom|
|     16684|  65892.08|United Kingdom|
|     13694|  62690.54|United Kingdom|
+----------+----------+--------------+
only showing top 10 rows

None

**8. The top 10 customers have been identified above who make maximum invoice Amount thus leading to greater revenue.**

In [45]:
# Top 10 csutomers contributing to the revenue

print((session.sql("Select distinct CustomerID, round(sum(InvoiceAmt),2) InvoiceAmt, sum(Quantity) Qunatity, Country from tb group by CustomerID, Country order by InvoiceAmt Desc").show(10)))

+----------+----------+--------+--------------+
|CustomerID|InvoiceAmt|Qunatity|       Country|
+----------+----------+--------+--------------+
|      null|1371401.51|  260360|United Kingdom|
|     14646|  267761.0|  188761|   Netherlands|
|     18102| 244952.95|   61424|United Kingdom|
|     17450| 187322.17|   69009|United Kingdom|
|     14911| 131374.59|   76349|          EIRE|
|     12415| 123725.45|   77242|     Australia|
|     14156| 113214.59|   56908|          EIRE|
|     17511|  88125.38|   63012|United Kingdom|
|     16684|  65892.08|   49390|United Kingdom|
|     13694|  62690.54|   61899|United Kingdom|
+----------+----------+--------+--------------+
only showing top 10 rows

None

**Customers making maximum orders and contributing maximum invoice amount are the retailers premium customers. Retailers can target loyalty programs to these customers in the form of discounts.**

**9. The maximum price of products that are less than average price and greater than the avg price**

- United Kingdom is one of the countries which has priced most of its products geater than the avg unit price of products sold by the retailer online.
- The retailer receives maximum order and revenue from the United Kingdom

In [54]:
# Less than avg price
print(session.sql('Select Country, max(UnitPrice),Description from tb group by Country, Description having max(UnitPrice) < (select avg(UnitPrice) from tb)').show(5))

# Greater than avg price
print(session.sql('Select Country, max(UnitPrice),Description from tb group by Country, Description having max(UnitPrice) > (select avg(UnitPrice) from tb)').show(5))

+--------------+--------------+--------------------+
|       Country|max(UnitPrice)|         Description|
+--------------+--------------+--------------------+
|          EIRE|          1.65|PAINT YOUR OWN CA...|
|        France|          0.39|PACK OF 12 SPACEB...|
|United Kingdom|          0.85|PAPER POCKET TRAV...|
|       Germany|           2.1|HAND WARMER BABUS...|
|United Kingdom|           2.1|SET/6 IVORY BIRD ...|
+--------------+--------------+--------------------+
only showing top 5 rows

None
+--------------+--------------+--------------------+
|       Country|max(UnitPrice)|         Description|
+--------------+--------------+--------------------+
|United Kingdom|         16.98|IVORY DINER WALL ...|
|United Kingdom|          7.62|VINTAGE SEASIDE J...|
|United Kingdom|          8.29|PINK DIAMANTE PEN...|
|United Kingdom|          5.09|ANT COPPER PINK B...|
|United Kingdom|          7.64|WHITE  ROSEBUD PE...|
+--------------+--------------+--------------------+
only showing top 5 rows

None

In [62]:
# Sum of orders received and cancelled in the mornings

# Not Cancelled
print((session.sql("Select  Sum(Quantity) TotalQuantity_NotCancelled from tb where IsCancelled==0 and (Time between '08:00' and '11:59')").show()))

# Is Cancelled
print((session.sql("Select  abs(Sum(Quantity)) TotalQuantity_Cancelled from tb where IsCancelled==1 and (Time between '08:00' and '11:59')").show()))

+--------------------------+
|TotalQuantity_NotCancelled|
+--------------------------+
|                   2000299|
+--------------------------+

None
+-----------------------+
|TotalQuantity_Cancelled|
+-----------------------+
|                 113906|
+-----------------------+

None

In [63]:
# Sum of orders received and cancelled in the nights

# Not Cancelled
print((session.sql("Select  Sum(Quantity) TotalQuantity_NotCancelled from tb where IsCancelled==0 and (Time between '18:00' and '23:59')").show()))

# Is Cancelled
print((session.sql("Select  abs(Sum(Quantity)) TotalQuantity_Cancelled from tb where IsCancelled==1 and (Time between '18:00' and '23:59')").show()))

+--------------------------+
|TotalQuantity_NotCancelled|
+--------------------------+
|                     99997|
+--------------------------+

None
+-----------------------+
|TotalQuantity_Cancelled|
+-----------------------+
|                   4085|
+-----------------------+

None

**The total quntities purchased in the mornings are more compared to those in the nights. The retailer can give more offers in the night to increase the sales.**

# Conclusion

**The retailer has to focus on its sales coming from top 5 countries and increase its revenue and reduce the number of cancellations. The sales received by the retailer in the night time are low comapred day time, thus offering dsicounts and offers to customers in the night time could increase sales.**
**The retailer must also identify reasons for cancellations and try to convert most of orders as sales (revenue).**